<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CheckItemDetailMapper">
    
    <resultMap type="CheckItemDetail" id="CheckItemDetailResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="selecteds"    column="selecteds"    />
        <result property="fontRemark"    column="font_remark"    />
        <result property="imgRemarks"    column="img_remarks"    />
        <result property="videoRemark"    column="video_remark"    />
        <result property="version"    column="version"    />
        <result property="createBy"    column="create_by"    />
        <result property="createByName"    column="create_by_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateByName"    column="update_by_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="enabled"    column="enabled"    />
    </resultMap>

    <sql id="selectCheckItemDetailVo">
        select id, parent_id, selecteds, font_remark, img_remarks, video_remark, version, create_by, create_by_name, create_time, update_by, update_by_name, update_time, enabled from check_item_detail
    </sql>

    <select id="selectCheckItemDetailList" parameterType="CheckItemDetail" resultMap="CheckItemDetailResult">
        <include refid="selectCheckItemDetailVo"/>
        <where>  
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="selecteds != null  and selecteds != ''"> and selecteds = #{selecteds}</if>
            <if test="fontRemark != null  and fontRemark != ''"> and font_remark = #{fontRemark}</if>
            <if test="imgRemarks != null  and imgRemarks != ''"> and img_remarks = #{imgRemarks}</if>
            <if test="videoRemark != null  and videoRemark != ''"> and video_remark = #{videoRemark}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
            <if test="createByName != null  and createByName != ''"> and create_by_name like concat('%', #{createByName}, '%')</if>
            <if test="updateByName != null  and updateByName != ''"> and update_by_name like concat('%', #{updateByName}, '%')</if>
            <if test="enabled != null "> and enabled = #{enabled}</if>
        </where>
    </select>
    
    <select id="selectCheckItemDetailById" parameterType="Long" resultMap="CheckItemDetailResult">
        <include refid="selectCheckItemDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCheckItemDetail" parameterType="CheckItemDetail" useGeneratedKeys="true" keyProperty="id">
        insert into check_item_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="selecteds != null">selecteds,</if>
            <if test="fontRemark != null">font_remark,</if>
            <if test="imgRemarks != null">img_remarks,</if>
            <if test="videoRemark != null">video_remark,</if>
            <if test="version != null and version != ''">version,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createByName != null and createByName != ''">create_by_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateByName != null and updateByName != ''">update_by_name,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="enabled != null">enabled,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="selecteds != null">#{selecteds},</if>
            <if test="fontRemark != null">#{fontRemark},</if>
            <if test="imgRemarks != null">#{imgRemarks},</if>
            <if test="videoRemark != null">#{videoRemark},</if>
            <if test="version != null and version != ''">#{version},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createByName != null and createByName != ''">#{createByName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateByName != null and updateByName != ''">#{updateByName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="enabled != null">#{enabled},</if>
         </trim>
    </insert>

    <update id="updateCheckItemDetail" parameterType="CheckItemDetail">
        update check_item_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="selecteds != null">selecteds = #{selecteds},</if>
            <if test="fontRemark != null">font_remark = #{fontRemark},</if>
            <if test="imgRemarks != null">img_remarks = #{imgRemarks},</if>
            <if test="videoRemark != null">video_remark = #{videoRemark},</if>
            <if test="version != null and version != ''">version = #{version},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createByName != null and createByName != ''">create_by_name = #{createByName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateByName != null and updateByName != ''">update_by_name = #{updateByName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCheckItemDetailById" parameterType="Long">
        delete from check_item_detail where id = #{id}
    </delete>

    <delete id="deleteCheckItemDetailByIds" parameterType="String">
        delete from check_item_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>